.anime-manga-section {
    text-align: center;
}

.section-title-aim {
    margin-bottom: 20px;
}

.card-aim {
    margin-bottom: 20px;
    img {
        height: 30rem;
        width: auto;
    }
}
.cardm {
    margin: 1rem 1rem 1rem 5rem;
}